body {
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.content {
  background: rgb(240, 248, 255);
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.924);
  width: 30vw;
  height: 30vh;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 20vh;
}

.head {
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
  font-size: 50px;
  color: black;
}

.circle {
  background-color: mediumturquoise;
  color: black;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 40px;
  padding: 30px;
}

.zero {
  font-size: 60px !important;
  color: black;
  margin-left: 50px;
}
